body{
	background:#161313;
	font:13px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#8B8C8C;
	position:relative;
	min-width:960px;
}
html,body{height:100%;}

.main{
	margin:0 auto;
	position:relative;
	width:960px; 
}

.main_wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}

.clear{
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper{
	overflow:hidden;
	position:relative;
}
.extra-wrap{
	overflow:hidden;
	display:block;
}

h1,h2,h3,h4,h5,h6{
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
	padding:0 0 15px 0;
	font-weight:normal;
	text-shadow:1px 1px #000;
	letter-spacing:-1px;
}
h1{font-size:42px; line-height:51px;}
h2{font-size:36px; line-height:44px;}
h3{font-size:30px; line-height:36px;} 
h4{font-size:24px; line-height:30px;}  
h5{font-size:20px; line-height:24px;}
h6{font-size:16px; line-height:22px;}

article{ padding: 0 0 13px; }
article h3{ padding:0; }

.main_container{
	margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.grid{
	display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.leftpane{
	margin-right: 85px;
	width: 230px;
}

.rightpane{
	width: 630px;
}

.red{ color:red; }

/*----- borders & lines -----*/
.vr-border-1 {
	display:inline-block;
	background:url(../images/vr-border-tail.png) repeat-y 279px 0;
}

/*----- indents -----*/
p { padding-bottom:20px; }
article.no_pads p { padding: 0px; }

.indent-bot {
	padding:0 0 47px 0;
}

/*----- buttons & links -----*/
a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
a:hover {text-decoration: underline;}
p a {color:#fff;}
input{
    border-style:solid;
	border-color:#ccc;
	border-width:1px;
	height:20px;
	width: 100%;
	font-size:18px;
	line-height:18px;
}
textarea{
	width: 99%;
}

div.login{
    background-color: #fff;
	width:100%;
	padding: 20px 0px 20px;
	border-radius: 10px;
}

div.login p{
	padding: 0px;
}

div.login div{
	margin:  20px;
	display: inherit;
}

div.login .greeting{
    padding: 10px;
	background:url(../images/button-tail.gif) repeat-x 0 0 #455d02;
	color: #fff
}

div.login label{
	font-size:18px;
	line-height:18px;
}

table.container{
    width: 100%;
}
table.container td{ vertical-align:top;}

div.image{
    padding:10px;
	background-color:#120f10;
    border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	#border:1px solid #161414;
	box-shadow: 0 0 3px #000000;
}

.normal_button {
	text-decoration:none;
	display:inline-block;
	padding:7px 16px 9px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:url(../images/button-tail.gif) repeat-x 0 0 #455d02;
	color:#fff;
	font-size:16x;
	line-height:35px;
	text-transform:uppercase;
	font-family: 'Ubuntu', sans-serif;
	position:relative;
}

.button {
	display:inline-block;
	text-decoration:none;
	padding:7px 12px 9px 38px;
	border-radius:17px;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	background:url(../images/button-tail.gif) repeat-x 0 0 #455d02;
	color:#fff;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	font-family: 'Ubuntu', sans-serif;
	text-transform:none;
	position:relative;
	letter-spacing:-1px;
}
.button:hover {text-decoration:none; background:url(../images/button-tail.gif) repeat-x 0 bottom #455d02;}
.button:after {
	display:block;
	position:absolute;
	content:"";
	left:5px;
	top:5px;
	width:26px;
	height:26px;
	background:url(../images/button-marker.png) no-repeat 0 0;
}
.link {
	text-decoration: none;
	color:#fff;
}
.link:hover {text-decoration:none; color:#4d4b4b;}

/*********************************header*************************************/
header{
	position:relative;
	z-index:4;
}

#search {
	margin-top:25px;
}

#search a {
    background: url("../images/search-submit.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    left: auto;
    width: 26px;
}
#search input{
	margin-left:5px;
	width: 123px;
}

.top-row {
	overflow:hidden;
	padding-bottom: 10px;
	margin:0 auto;
	width:600px;
}
/********************** Navigation ************************/

header nav {
	border-top:1px solid #000;
	background: url(../images/nav-tail.gif) repeat-x 0 0 #0c0a0a;
	position:relative;
}
.sf-menu{
	font-size:0;
	line-height:0;
	min-height:85px;
	padding:0;
	margin:0 auto;
	width:960px;
	background:url(../images/nav-separator.gif) no-repeat 0 center;
}
.sf-menu ul{
	position:absolute;
	top:-999em;
	width:187px;
	left:0;
	display:none;
	margin:0;
	background: #060505;
	padding:25px 0 15px 0;
}
.sf-menu > li{
	position:relative;
	padding:0;
	float:left;
	width:160px;
	background:url(../images/nav-separator.gif) no-repeat right center;
	list-style:none;
}

.sf-menu > li:last-child { 
    background:none;
}
.sf-menu > li:first-child {border:none;}
.sf-menu > li > a, .menu_a {
	text-decoration:none;
	display:block;
	font-size:14px;
	line-height:20px;
	color:#fff;
	position:relative;
	padding:24px 17px 23px 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:-1px;
}
.sf-menu > li > a b {
	display:block;
	text-transform:capitalize;
	font-size:14px;
	line-height:20px;
	color:#4a464a;
	text-shadow:1px 1px #000;
	font-weight:normal;
	margin:-2px 0 0 0;
}
.sf-menu > li.current > a, .sf-menu > li:hover > a{
	background:url(../images/nav-active.png) repeat-x 0 0;
}
.sf-menu > li.current > a b, .sf-menu > li:hover > a b{
	color:#fff;
}
.sf-sub-indicator {
	display:block;
	position:absolute;
	font-size:0;
	line-height:0;
	background:url(../images/sub-indicator.png) no-repeat 0 0;
	width:13px;
	height:9px;
	position:absolute;
	right:7px;
	top:38px;
}
.sf-menu ul .sf-sub-indicator {display:none;}
.sf-menu li:hover ul{top:85px; left:0; z-index:999;}
.sf-menu li:hover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover{
  text-decoration:none;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:14px;
	line-height:20px;
	color:#4a464a;
	overflow:hidden;
	padding:0 5px 0 20px;
	text-align:left;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing:-1px;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{
	color:#fff;
}
.sf-menu li li{
	float:none;
	position:relative;
	padding:0;
	margin:0 0 10px 0;
	display:block;
}
.sf-menu li li:first-child {border-top:none;}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:188px;top:-25px;}

/********************** Content ************************/
section#content {
	padding:51px 0 30px;
}
#content {
	padding:165px 0 60px;
}
.news-list {padding:0 0 8px 0;}	

.news-list li {
	display:block;
	padding:0 0 20px 0;
}

.news-list li a {
	color:#4d4b4b;
	text-decoration:underline;
}

.news-list li a:hover {
	color:#fff;
	text-decoration:none;
}

.news-list li .date {
	display:block;
	color:#fff;
	font-size:11px;
	line-height:20px;
}

/******************** Table *******************/
table.members{ width:100%;}
table.members .col {
    background-color: #365112;
	color: #fff;
    font-weight: bold;
	text-align: center;
	padding: 5px 0px;
}
table.members tr{
    color: #fff;
}

table.members td{
    padding: 8px;
	vertical-align: top;
}

table.members td.name{
    width:24%;
}

table.members tr:nth-child(odd) {
    background-color: #1B1918;
}

table.members tr:nth-child(even){
    background-color: #24201F;
}

table.members tbody tr:hover td{
	background-color: #333333;
}

/******************** Footer ******************/
footer{
	background: url(../images/footer-tail.gif) repeat-x 0 0;
	color:#4d4b4b;
	font-size:13px;
	padding:22px 0;
}
footer .inner {
	text-align:center;
	width:940px;
	margin:0 auto;
}

/******************** Lightbox ****************/
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 30%;
	margin: auto;
	width: 35%;
	height: 35%;
	padding: 10px;
	border: 2px solid #c2c2c2;
	background-color: #ffefef;
	border-radius: 10px;
	z-index:1002;
	overflow: auto;
}

.close-btn {
    border: 2px solid #c2c2c2;
    position: relative;
    padding: 1px 5px;
    top: -20px;
    background-color: #605F61;
    left: 198px;
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}